<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>News Analyser</title>
</head>

<body>

  <header>
      News Analyser
  </header>

  <main>
    <section>
      <form onsubmit="Client.handleSubmit(event)">
        <input type="url" name="url" value="" required placeholder="Article Url">
        <button type="submit">Submit</button>
      </form>
    </section>

    <section id="results">
      <div></div>
    </section>
  </main>

  <footer>
    <span>© 2021 News Analyser</span>
  </footer>

</body>

</html>