<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>News Analyser</title>
</head>

<body>

  <header>News Analyser</header>

  <main>
    <section>
      <form onsubmit="Client.handleSubmit(event)">
        <input type="url" name="url" value="" placeholder="Article Url" required autofocus>
        <button type="submit">Submit</button>
      </form>
    </section>
    <hr>
    <section id="results"></section>
  </main>

  <footer>
    <span>© 2021 News Analyser</span>
  </footer>

</body>

</html>